body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main
{
width: 400px;
border: 1px solid black;
margin: 50px auto;
}

.userProfile{
 width: 50px;
border-radius: 100%;
margin: 2px;

}


.userImage{
display: inline-block; 
width: 15%;


}



.NameData{
  display: inline-block;
  width: 70%;

}


.userProfile1{
  width: 100%;
  
  
}


